/* banner style */

.banner{
    display: flex;
    justify-content: space-around;
    background-color: rgba(198, 228, 214, 1);
    border-radius: 24px;
    max-width: 1280px;
    max-height: 560px;
    margin-left: 160px;
    margin-right: 160px;
    margin-top: 120px;
    margin-bottom: 80px;
    padding: 117px;
    padding-left: 59.99px;
    padding-right: 59.99px ;
    /* gap: 64px; */
}

.banner-text{
    margin-right: 64px ;
}

/* shared style */

body{
    font-family: "Fira Sans", serif;
    background-color: rgba(241, 241, 243, 1);
    height: 100vh;
}
.second-bg{
    background-color: #FFFFFF;
}

.btn-primary{
    background-color: rgba(0, 106, 80, 1);
}

.news-button{
    border-radius: 8px;
    padding: 13px 26px;
    font-size: 18px;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);


}

.btn-common{
  border-radius: 8px;
  padding: 11px 20px;
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  font-weight: 600px;
  border: none;
}

.card-description-common{
    font-weight: 400;
    font-size: 16px;
} 

.common-margin{
    margin-left: 160px;
    margin-right: 160px;
}




.btn-decoration{
    border-radius: 8px;
}

.container-shape{
    border-radius: 16px;
    width: 410.67px;
    height: 325px;
}

.card-name{
    font-weight: bold;
    font-size: 20px;
    margin-top: 24px;
    margin-bottom: 12px;
}



.date{
    margin-right: 12px;
 }

 .news-source-logo{
    margin-top: 12px;
    margin-bottom: 12px;
 }

 .news-source-title{
    font-weight: 700;
    font-size: 32px;
 }

 .news-source-description{
    font-weight: 400;
    font-size: 16px;
    margin-top: 12px;
    margin-bottom: 32px;
 }

 .common-news-box{
    width: 1280px;
    height: 402px;

 }

 .text-align{
    text-align: center;
 }



/* --share style finished-- */
/* banner title style */
.banner-title{
    color: rgba(14, 14, 14, 0.5);
    margin-bottom: 16px;
    font-size: 24px;
}

/* banner description style */
.banner-description{
    color: rgba(14, 14, 14, 1);
    font-weight: bold;
    margin-bottom: 24px;
    font-size: 56px;
    width: 622px;
    height: 201px;
}

/* button style */
.first-btn{
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
    padding: 17px 34px;
    color: rgba(255, 255, 255, 1);
}

.feature{
    margin-top: 484px;
}

 .feature-title{
    font-weight: bold;
    font-size: 40px;
 }   

 .feature-description{
    font-weight: 400;
    font-size: 16px;
 }

 section ul{
    display: flex;
    list-style-type: none;
 }

 #container-1{
    background-color: rgba(84, 144, 245, 0.2);
    margin-left: -40px;
    padding-left: 32px;
    padding-bottom: 32px;
    padding-top: 32px;
 }

 #container-2{
    background-color: rgba(198, 228, 214, 1);
    padding-left: 32px;
    padding-bottom: 32px;
    padding-top: 32px;
 }

 #container-3{
    background-color: rgba(247, 235, 207, 1);
    margin-right: 20px;
    padding-left: 24px;
    padding-bottom: 24px;
    padding-top: 24px;
 }
 
 .container{
    gap: 24px;
 }

 #card-description-1{
    margin-bottom: 24px;
 }

 #card-description-2{
    margin-bottom: 48px;
 }

 #card-description-3{
    margin-bottom: 64px;
 }

 #btn-decoration-1{
    background-color: rgba(84, 144, 245, 1);
 }

 #btn-decoration-2{
    background-color: rgba(9, 161, 92, 1);
   
 }

 #btn-decoration-3{
    background-color: rgba(255, 194, 57, 1);
 }

 .news-title{
    margin-top: 929px;
    margin-bottom: 24px;
    font-weight: bold;
    font-size: 40px;
 }

 .news-description{
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 32px;
    margin-top: 24px;
 }

 .news-box{
    width: 1280px;
    height: 402px;
 }


 .satellite-1{
    border-radius: 24px;
    margin-left: 48 px;
    margin-top: 48px;
    margin-bottom: 48px;
    margin-right: 32px;
    width: 408px;
    height: 306px;
 }

 .news-text-1{
    margin-right: 48px;
    margin-top: 56px;
    margin-bottom: 56px;
    width: 744px;
    height: 290px;
 }

.news-text-2{
    width: 744px;
    height: 290px;
    margin-left: 48px;
    margin-top: 56px;
    margin-bottom: 56px;
    margin-right: 32px;
}

.satellite-2{
    width: 408px;
    height: 306px;
    margin-right: 48px;
    margin-top: 48px;
    margin-bottom: 48px;
}
 
  

 

 .news-source-logo{
    margin-right: 610px;
 }





.news-margin-top{
    margin-top: 24px;
}

.news-box{
    margin-left: -48px;
   
}



.donate-amount-option{
    display: flex;
    column-gap: 24px;
    margin-top: 32px;
    margin-left: 160px;
}


.donate-title{
    font-weight: bold;
    font-size: 40px;
    margin-top: 80px;
}

.donate-description{
    font-weight: 400;
    font-size: 16px;
    margin-top: 24px;
}

.donate-amount{
    border-radius: 16px;
    padding: 40px;
    font-weight: bold;
    font-size: 40px;
    
}

.donate-common-color{
    background-color: #FFFFFF;
    
}

#donate-color-2{
    background-color: rgba(198, 228, 214, 1) ;
}

#input{
    width: 100%;
    color: rgba(14, 14, 14, 0.3);
    padding: 20px 422.5px;
    font-weight: 400;
    font-size: 20px;
    margin-right: 900px;
}


.donate-button{
    color: rgba(255, 255, 255, 1);
    padding: 17px 34px;
    margin-top: 32px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-size: 18px;
    font-weight: 600;
    border-radius: 8px;
}


.news-box{
    margin-left: 8px;
    margin-right: 22px;
}

.subscription{
    padding: 80px 265px;
}


.subscription-title{
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 16px;
}

.subscription-description{
    font-weight: 400;
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
    margin-bottom: 24px;
}

form input{
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 40px;
    width: 600px;
    height: 54px;
    background-color: rgba(255, 255, 255, 1);
    color: rgba(14, 14, 14, 0.3);
    text-align: left;
    font-weight: 400;
    font-size: 16px;
}

form button{
    color: rgba(255, 255, 255, 1);
    padding: 17px 34px;
    font-size: 18px;
    font-weight: 600;
    width: 200px;
    height: 93px;
}

form{
    position: relative;
}

button{
    position: absolute;
}

form input[type="text"]::placeholder{
    text-align: left;
}

.not-spam{
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
}


button:hover{
    background-color: chartreuse;
    transition: 2s;
}

#container-1:hover{
    background-color: springgreen;
    transition: 2s;
}

#container-2:hover{
    background-color: springgreen;
    transition: 2s;
}

#container-3:hover{
    background-color: springgreen;
    transition: 2s;
}

.donate-amount:hover{
    background-color: springgreen;
    transition: 2s;
}

donate-color-2:hover{
    background-color: blue;
    transition: 2s;
}


.announcement{
    color: rgba(14, 14, 14, 0.8);
    font-weight: 400;
    font-size: 16px;
}

.announcer{
    font-weight: 600;
    font-size: 20px;
    color: rgba(14, 14, 14, 0.8);
    margin-top: 12px;
}

.position{
    font-weight: 400;
    font-size: 16px;
    color: rgba(14, 14, 14, 0.6)
}

.background-img{
    width: 1280px;
    height: 256px;
    padding-top: 48px;
    padding-bottom: 48px;
    background-color: rgba(255, 255, 255, 1);
    background-image: url("../assets/quote-bg.png");
    background-repeat: no-repeat;
}